<div align="center" style="font-size: 30px;">
<h1>Update Attachment</h1>
<div>
<%= form_for([@filer.project, @filer]) do |f| %>
<div class="card" style="width: 25rem; text-align: center;">
  <div class="card-body">
    <h5 class="card-title"><%= f.file_field :attach, class: "form-control" %></h5>
    <p class="card-text"><%= f.text_area :description %></p>
        <%= f.submit "Update", class: "btn btn-primary"%>
  </div>
</div>

<% end %>
<%= link_to "Back", new_project_filer_path(@project) %>
</div>
